body {
    background-image: url("../img/wood-wall-bg.jpg");
}

.clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

#date {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 30px;
}

#clock {
    font-size: 120px;
    padding: 60px 100px;
    border: 10px solid #a0a0a1;
    border-radius: 50px;
    color: #ffff00;
    background-color: #000000;
    box-shadow: 2px 2px 2px 1px #00000033;
}